In [1]:
# Script Name: Combination of Temperature and Energy Demand
# Author: Rahul Kumar
# Date: 4/3/22
# Description: The purpose of the script is to combine the temperature and energy demand data into a unified dataset that 
# can be used to work with

import pandas as pd
import numpy as np
from math import sqrt
import seaborn as sns
import matplotlib.pyplot as plt

# This actually sets the pandas display to show all rows and columns 
# when you are showing a dataframe, without skipping the center
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [2]:
filepath = '../../H06-2021/' # If you want to run the code, change the file path to where you store the files. This reference
                                # is to where I store the files outside the github clone
    
outpath = '../../UNSW-PROJECT-DATA/' #I store it on my comp and the copy the file to the server
# filename = 'totaldemand_nsw'
ext = '.csv'

states = ['nsw','qld','sa','vic']

In [3]:
# 'temprature', 'totaldemand', 'forecastdemand'

filename = 'temprature' #<-correct your NSW temperature filename to temprature
temp = pd.DataFrame(columns=['STATE','LOCATION','DATETIME','TEMPERATURE'])

for state in states:
    df = pd.read_csv(filepath+filename+'_'+state+ext)
    df['STATE'] = state.upper()
    temp = pd.concat([temp,df], ignore_index=True)
    
temp = temp[['STATE','LOCATION','DATETIME','TEMPERATURE']]
temp.to_csv(outpath+filename+ext)
temp.head(15)

   STATE   LOCATION       DATETIME  TEMPERATURE
0    NSW  Bankstown  1/1/2010 0:00         23.1
1    NSW  Bankstown  1/1/2010 0:01         23.1
2    NSW  Bankstown  1/1/2010 0:30         22.9
3    NSW  Bankstown  1/1/2010 0:50         22.7
4    NSW  Bankstown  1/1/2010 1:00         22.6
5    NSW  Bankstown  1/1/2010 1:30         22.5
6    NSW  Bankstown  1/1/2010 2:00         22.5
7    NSW  Bankstown  1/1/2010 2:30         22.4
8    NSW  Bankstown  1/1/2010 3:00         22.3
9    NSW  Bankstown  1/1/2010 3:30         22.3
10   NSW  Bankstown  1/1/2010 4:00         22.1
11   NSW  Bankstown  1/1/2010 4:30         22.2
12   NSW  Bankstown  1/1/2010 5:00         22.2
13   NSW  Bankstown  1/1/2010 5:30         22.3
14   NSW  Bankstown  1/1/2010 6:00         22.5

In [4]:
filename = 'totaldemand'
demand = pd.DataFrame(columns=['STATE','DATETIME','TOTALDEMAND','REGIONID'])

for state in states:
    df = pd.read_csv(filepath+filename+'_'+state+ext)
    df['STATE'] = state.upper()
    demand = pd.concat([demand,df], ignore_index=True)

demand = demand[['STATE','DATETIME','TOTALDEMAND']]
demand.to_csv(outpath+filename+ext)

demand.head(15)

   STATE       DATETIME  TOTALDEMAND
0    NSW  1/1/2010 0:00      8038.00
1    NSW  1/1/2010 0:30      7809.31
2    NSW  1/1/2010 1:00      7483.69
3    NSW  1/1/2010 1:30      7117.23
4    NSW  1/1/2010 2:00      6812.03
5    NSW  1/1/2010 2:30      6544.33
6    NSW  1/1/2010 3:00      6377.32
7    NSW  1/1/2010 3:30      6282.85
8    NSW  1/1/2010 4:00      6211.49
9    NSW  1/1/2010 4:30      6248.31
10   NSW  1/1/2010 5:00      6198.61
11   NSW  1/1/2010 5:30      6237.35
12   NSW  1/1/2010 6:00      6370.48
13   NSW  1/1/2010 6:30      6506.42
14   NSW  1/1/2010 7:00      6738.75

In [5]:
# fd_nsw = fd_nsw[['FORECASTDEMAND','DATETIME']]
# fd_nsw = fd_nsw.groupby('DATETIME').mean().reset_index()

filename = 'forecastdemand'
fdemand = pd.DataFrame(columns=['STATE','FORECASTDEMAND','DATETIME'])

for state in states:
    df = pd.read_csv(filepath+filename+'_'+state+ext)
    df = df.groupby('DATETIME').mean().reset_index()
    df['STATE'] = state.upper()
    df = df[['STATE','FORECASTDEMAND','DATETIME']]
    fdemand = pd.concat([fdemand,df], ignore_index=True)
    
fdemand.to_csv(outpath+'mean_'+filename+ext)
fdemand.head(15)

   STATE  FORECASTDEMAND             DATETIME
0    NSW     7824.411831  2010-01-01 00:00:00
1    NSW     7680.510417  2010-01-01 00:30:00
2    NSW     7428.971370  2010-01-01 01:00:00
3    NSW     7084.802162  2010-01-01 01:30:00
4    NSW     6751.369600  2010-01-01 02:00:00
5    NSW     6484.270789  2010-01-01 02:30:00
6    NSW     6304.129740  2010-01-01 03:00:00
7    NSW     6158.749744  2010-01-01 03:30:00
8    NSW     6104.542405  2010-01-01 04:00:00
9    NSW     6021.617500  2010-01-01 04:30:00
10   NSW     6005.058788  2010-01-01 05:00:00
11   NSW     6016.418529  2010-01-01 05:30:00
12   NSW     6066.978857  2010-01-01 06:00:00
13   NSW     6178.097222  2010-01-01 06:30:00
14   NSW     6392.566486  2010-01-01 07:00:00

In [6]:
# Knowing that Total Demand has the most rows, we will merge on that
# DF STATE Date rows - 418,012
# Temp STATE Date rows - 778,177
# TD STATE Date rows - 786,051

filename = 'combined'
combined = demand.merge(temp, left_on=['STATE','DATETIME'], right_on = ['STATE','DATETIME'],how = 'outer')
combined_fdavg = combined.merge(fdemand, left_on=['STATE','DATETIME'], right_on = ['STATE','DATETIME'],how = 'outer')

# Based on the Climate Glossary - http://www.bom.gov.au/climate/glossary/seasons.shtml the seasons are broken down as
# follows: 9,10,11 are Spring, 12,1,2 are Summer, 3,4,5 are Autumn and 6,7,8 are Winter

def Season(item):
    if item == 12 or item == 1 or item == 2:
        return 'Summer'
    elif item == 3 or item == 4 or item == 5:
        return 'Autumn'
    elif item == 6 or item == 7 or item == 8:
        return 'Winter'
    else:
        return 'Spring'
    

combined['DATETIME'] = pd.to_datetime(combined['DATETIME'])
combined['Weekday'] = combined['DATETIME'].dt.day_name()
combined['Quarter'] = combined['DATETIME'].dt.quarter
combined['Month'] = combined['DATETIME'].dt.month
combined['Season'] = combined['Month'].apply(Season)

combined_fdavg['DATETIME'] = pd.to_datetime(combined_fdavg['DATETIME'])
combined_fdavg['Weekday'] = combined_fdavg['DATETIME'].dt.day_name()
combined_fdavg['Quarter'] = combined_fdavg['DATETIME'].dt.quarter
combined_fdavg['Month'] = combined_fdavg['DATETIME'].dt.month
combined_fdavg['Season'] = combined_fdavg['Month'].apply(Season)



combined.to_csv(outpath+filename+ext)
combined_fdavg.to_csv(outpath+filename+'_fd_Avg'+ext)
combined_fdavg.head(15)

,STATE,DATETIME,TOTALDEMAND,LOCATION,TEMPERATURE,FORECASTDEMAND,Weekday,Quarter,Month,Season
0,NSW,2010-01-01 00:00:00,8038.00,Bankstown,23.1,NaN,Friday,1,1,Summer
1,NSW,2010-01-01 00:30:00,7809.31,Bankstown,22.9,NaN,Friday,1,1,Summer
2,NSW,2010-01-01 01:00:00,7483.69,Bankstown,22.6,NaN,Friday,1,1,Summer
3,NSW,2010-01-01 01:30:00,7117.23,Bankstown,22.5,NaN,Friday,1,1,Summer
4,NSW,2010-01-01 02:00:00,6812.03,Bankstown,22.5,NaN,Friday,1,1,Summer
5,NSW,2010-01-01 02:30:00,6544.33,Bankstown,22.4,NaN,Friday,1,1,Summer
6,NSW,2010-01-01 03:00:00,6377.32,Bankstown,22.3,NaN,Friday,1,1,Summer
7,NSW,2010-01-01 03:30:00,6282.85,Bankstown,22.3,NaN,Friday,1,1,Summer
8,NSW,2010-01-01 04:00:00,6211.49,Bankstown,22.1,NaN,Friday,1,1,Summer
9,NSW,2010-01-01 04:30:00,6248.31,Bankstown,22.2,NaN,Friday,1,1,Summer
10,NSW,2010-01-01 05:00:00,6198.61,Bankstown,22.2,NaN,Friday,1,1,Summer
11,NSW,2010-01-01 05:30:00,6237.35,Bankstown,22.3,NaN,Friday,1,1,Summer
12,NSW,2010-01-01 06:00:00,6370.48,Bankstown,22.5,NaN,Friday,1,1,Summer
13,NSW,2010-01-01 06:30:00,6506.42,Bankstown,23.2,NaN,Friday,1,1,Summer
14,NSW,2010-01-01 07:00:00,6738.75,Bankstown,23.3,NaN,Friday,1,1,Summer

In [7]:
combined.head(50)

,STATE,DATETIME,TOTALDEMAND,LOCATION,TEMPERATURE,Weekday,Quarter,Month,Season
0,NSW,2010-01-01 00:00:00,8038.00,Bankstown,23.1,Friday,1,1,Summer
1,NSW,2010-01-01 00:30:00,7809.31,Bankstown,22.9,Friday,1,1,Summer
2,NSW,2010-01-01 01:00:00,7483.69,Bankstown,22.6,Friday,1,1,Summer
3,NSW,2010-01-01 01:30:00,7117.23,Bankstown,22.5,Friday,1,1,Summer
4,NSW,2010-01-01 02:00:00,6812.03,Bankstown,22.5,Friday,1,1,Summer
5,NSW,2010-01-01 02:30:00,6544.33,Bankstown,22.4,Friday,1,1,Summer
6,NSW,2010-01-01 03:00:00,6377.32,Bankstown,22.3,Friday,1,1,Summer
7,NSW,2010-01-01 03:30:00,6282.85,Bankstown,22.3,Friday,1,1,Summer
8,NSW,2010-01-01 04:00:00,6211.49,Bankstown,22.1,Friday,1,1,Summer
9,NSW,2010-01-01 04:30:00,6248.31,Bankstown,22.2,Friday,1,1,Summer
10,NSW,2010-01-01 05:00:00,6198.61,Bankstown,22.2,Friday,1,1,Summer
11,NSW,2010-01-01 05:30:00,6237.35,Bankstown,22.3,Friday,1,1,Summer
12,NSW,2010-01-01 06:00:00,6370.48,Bankstown,22.5,Friday,1,1,Summer
13,NSW,2010-01-01 06:30:00,6506.42,Bankstown,23.2,Friday,1,1,Summer
14,NSW,2010-01-01 07:00:00,6738.75,Bankstown,23.3,Friday,1,1,Summer
15,NSW,2010-01-01 07:30:00,6980.41,Bankstown,23.8,Friday,1,1,Summer
16,NSW,2010-01-01 08:00:00,7213.33,Bankstown,24.5,Friday,1,1,Summer
17,NSW,2010-01-01 08:30:00,7515.60,Bankstown,24.6,Friday,1,1,Summer
18,NSW,2010-01-01 09:00:00,7761.46,Bankstown,25.3,Friday,1,1,Summer
19,NSW,2010-01-01 09:30:00,7915.54,Bankstown,24.6,Friday,1,1,Summer
20,NSW,2010-01-01 10:00:00,8067.16,Bankstown,24.5,Friday,1,1,Summer
21,NSW,2010-01-01 10:30:00,8123.31,Bankstown,25.2,Friday,1,1,Summer
22,NSW,2010-01-01 11:00:00,8195.51,Bankstown,25.4,Friday,1,1,Summer
23,NSW,2010-01-01 11:30:00,8221.36,Bankstown,25.6,Friday,1,1,Summer
24,NSW,2010-01-01 12:00:00,8278.09,Bankstown,27.0,Friday,1,1,Summer
25,NSW,2010-01-01 12:30:00,8361.58,Bankstown,27.4,Friday,1,1,Summer
26,NSW,2010-01-01 13:00:00,8337.92,Bankstown,28.1,Friday,1,1,Summer
27,NSW,2010-01-01 13:30:00,8421.08,Bankstown,28.6,Friday,1,1,Summer
28,NSW,2010-01-01 14:00:00,8477.34,Bankstown,28.4,Friday,1,1,Summer
29,NSW,2010-01-01 14:30:00,8501.39,Bankstown,28.8,Friday,1,1,Summer
30,NSW,2010-01-01 15:00:00,8557.94,Bankstown,28.2,Friday,1,1,Summer
31,NSW,2010-01-01 15:30:00,8603.11,Bankstown,28.6,Friday,1,1,Summer
32,NSW,2010-01-01 16:00:00,8715.69,Bankstown,28.8,Friday,1,1,Summer
33,NSW,2010-01-01 16:30:00,8791.61,Bankstown,28.5,Friday,1,1,Summer
34,NSW,2010-01-01 17:00:00,8883.98,Bankstown,28.3,Friday,1,1,Summer
35,NSW,2010-01-01 17:30:00,8835.92,Bankstown,27.9,Friday,1,1,Summer
36,NSW,2010-01-01 18:00:00,8765.46,Bankstown,27.3,Friday,1,1,Summer
37,NSW,2010-01-01 18:30:00,8640.56,Bankstown,26.8,Friday,1,1,Summer
38,NSW,2010-01-01 19:00:00,8544.55,Bankstown,26.5,Friday,1,1,Summer
39,NSW,2010-01-01 19:30:00,8562.12,Bankstown,26.2,Friday,1,1,Summer
40,NSW,2010-01-01 20:00:00,8635.78,Bankstown,25.9,Friday,1,1,Summer
41,NSW,2010-01-01 20:30:00,8573.05,Bankstown,25.7,Friday,1,1,Summer
42,NSW,2010-01-01 21:00:00,8333.54,Bankstown,25.5,Friday,1,1,Summer
43,NSW,2010-01-01 21:30:00,8343.80,Bankstown,25.2,Friday,1,1,Summer
44,NSW,2010-01-01 22:00:00,8295.59,Bankstown,25.1,Friday,1,1,Summer
45,NSW,2010-01-01 22:30:00,8210.54,Bankstown,24.9,Friday,1,1,Summer
46,NSW,2010-01-01 23:00:00,8041.77,Bankstown,24.7,Friday,1,1,Summer
47,NSW,2010-01-01 23:30:00,7782.68,Bankstown,24.6,Friday,1,1,Summer
48,NSW,2010-02-01 00:00:00,7574.85,Bankstown,24.0,Monday,1,2,Summer
49,NSW,2010-02-01 00:30:00,7343.30,Bankstown,24.3,Monday,1,2,Summer

In [9]:
combined.isnull().sum(axis = 0)

STATE               0
DATETIME            0
TOTALDEMAND    386506
LOCATION       394393
TEMPERATURE    394393
Weekday             0
Quarter             0
Month               0
Season              0
dtype: int64

In [12]:
combined.shape

(1172570, 9)

In [ ]:
# https://meteostat.net/en/blog/obtain-weather-data-any-location-python

# Can be potentially used to fill any missing temps