In [1]:
# -*- coding: utf-8 -*-
"""
Created on Thu Mar  3 17:49:50 2022

@author: r.muema
"""
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import utils

Change path to where datasets are saved

In [3]:
# Load NSW data
forecastdemand_nsw = pd.read_csv("../../Datasets/forecastdemand_nsw.csv")
temperature_nsw = pd.read_csv("../../Datasets/temperature_nsw.csv")
totaldemand_nsw = pd.read_csv("../../Datasets/totaldemand_nsw.csv")

In [4]:
# # Load QLD data
# forecastdemand_qld = pd.read_csv("Datasets/forecastdemand_qld.csv")
# temprature_qld = pd.read_csv("Datasets/temprature_qld.csv")
# totaldemand_qld = pd.read_csv("Datasets/totaldemand_qld.csv")

In [5]:
# # Load SA data
# forecastdemand_sa = pd.read_csv("Datasets/forecastdemand_sa.csv")
# temprature_sa = pd.read_csv("Datasets/temprature_sa.csv")
# totaldemand_sa = pd.read_csv("Datasets/totaldemand_sa.csv")

In [ ]:
# # Load VIC data
# forecastdemand_vic = pd.read_csv("Datasets/forecastdemand_vic.csv")
# temprature_vic = pd.read_csv("Datasets/temprature_vic.csv")
# totaldemand_vic = pd.read_csv("Datasets/totaldemand_vic.csv")

In [6]:
# Combine temperature and demand 
combined_temperature_totaldemand_nsw = pd.merge(temperature_nsw, totaldemand_nsw, on="DATETIME")

In [7]:
# Display top 5 results
combined_temperature_totaldemand_nsw.head()

    LOCATION       DATETIME  TEMPERATURE  TOTALDEMAND REGIONID
0  Bankstown  1/1/2010 0:00         23.1      8038.00     NSW1
1  Bankstown  1/1/2010 0:30         22.9      7809.31     NSW1
2  Bankstown  1/1/2010 1:00         22.6      7483.69     NSW1
3  Bankstown  1/1/2010 1:30         22.5      7117.23     NSW1
4  Bankstown  1/1/2010 2:00         22.5      6812.03     NSW1

In [8]:
# Create extra fields from the data
combined_temperature_totaldemand_nsw['DATETIME'] = combined_temperature_totaldemand_nsw['DATETIME'].apply(lambda x: utils.calculate_month(x))
combined_temperature_totaldemand_nsw['YEAR'] = combined_temperature_totaldemand_nsw['DATETIME'].dt.year
combined_temperature_totaldemand_nsw['MONTH'] = combined_temperature_totaldemand_nsw['DATETIME'].dt.month_name().str[:3]
combined_temperature_totaldemand_nsw['SEASON'] = combined_temperature_totaldemand_nsw['MONTH'].apply(lambda x: utils.calculate_season(x))

In [9]:
# Display top 5 results
combined_temperature_totaldemand_nsw.head()

,LOCATION,DATETIME,TEMPERATURE,TOTALDEMAND,REGIONID,YEAR,MONTH,SEASON
0,Bankstown,2010-01-01 00:00:00,23.1,8038.00,NSW1,2010,Jan,Summer
1,Bankstown,2010-01-01 00:30:00,22.9,7809.31,NSW1,2010,Jan,Summer
2,Bankstown,2010-01-01 01:00:00,22.6,7483.69,NSW1,2010,Jan,Summer
3,Bankstown,2010-01-01 01:30:00,22.5,7117.23,NSW1,2010,Jan,Summer
4,Bankstown,2010-01-01 02:00:00,22.5,6812.03,NSW1,2010,Jan,Summer

In [10]:
# Save combined dataframe
combined_temperature_totaldemand_nsw.to_csv('../../Datasets/combined_temperature_totaldemand_nsw.csv',header=combined_temperature_totaldemand_nsw.columns, index=False)